<!doctype html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<h2>A Simple Message Bank</h2>

<nav>
   <!-- <b>Navigation:</b> -->
      <ul>
         <li><a href="{{ url_for('render_submit_template') }}">Submit a Message</a></li>
         <li><a href="{{ url_for('view_random_messages')}}">View Messages</a></li>
      </ul>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
</html>